*{
    padding: 0;
    margin: 0;   
}

body {
    background-color: #ADBABD;
}

.text_align_center{
    text-align: center;
}

.container {
    margin: 10% auto;
    width: 75%;
    border: 0.188rem solid black;
    border-radius: 0.4rem;
    height: 30rem;
    background-color: #D8D7D5;
}

#menu{
    border: 0.188rem solid black;
    border-radius: 4px;
    margin: 0.5% auto;
    width: 50%;
    height: 80%;
    background-color: #FDFDFD;
}
ul{
    text-decoration: none;
    list-style: none;
    width: 50%;
    padding: 5% auto;
}

li{   
    
    margin: 2rem 4rem;
    height: 2rem;
    border: 1px solid red;
}

a{
    text-decoration: none;
}